
html(lang="en")
    head
        link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        title My First Pug Form
    body
        include includes/header.pug
        block content
//- //- doctype html
//- //- html(lang="en")
//- //-     head
//-         title Sign UP form
        
//-         style
//-           include ../customcss/form.css
//-           include ../bootstrap/css/bootstrap.min.css
       
//-     body
//-       include includes/header.pug
//-       block content
//-       include includes/footer.pug

//-       script
//-         include ../bootstrap/js/bootstrap.min.js

