extend layout
block content 
    div.row.justify-content-center
            div.col-md-6
                header.card-header
                    h4.card-title Log in 
                    form(method="POST" action='/login')    
                        div.form-row
                            div.col.form-group
                                label User Name:
                                input.form-control(name="username",type="text")
                        div.form-row
                            div.col.form-group
                                label Password:
                                input.form-control(name="password",type="password")
                        div.form-row
                            div.col.form-group
                                input.btn.btn-success.btn-block(type="submit")

                                 