extends layout  

block content
        div.row.justify-content-center
            div.col-md-6
                header.card-header
                    a.float-right.btn.btn-outline-primary Log in
                    h4.card-title REGISTER
                    div.card-body
                    block content
                    form(method="POST" action="/register" )
                        div.form-row
                            div.col-sm-6.form-group
                                label First Name:
                                input.form-control(name="first_name" type="text"  placeholder="Enter your first name")
                                
                            div.col-sm-6.form-group
                                label Last Name:
                                input.form-control(name="last_name" type="text" placeholder="Enter your last name")
                            div.col-sm-6.form-group
                                label User Name:
                                input.form-control(name="username" type="text" placeholder="Enter your User name")
                                div.form-row
                            div.col-sm-12.form-group
                                div.form-group    
                                    label Email address:
                                    input.form-control(name="email" type="email")
                                    small We'll never share your email with anyone else
                                    div.form-group    
                            label Password:
                            input.form-control(name="password" type="password" )
                            small We'll never share your email with anyone else
                            
                            div.col-sm-6.form-group
                            div.form-row
                                div.form-group
                                    label.form-check.form-check-inline
                                        input.form-check-input(type="radio" name="gender" value="gender")
                                        span.form-check-label Male              
                                div.form-group
                                    label.form-check.form-check-inline
                                        input.form-check-input(type="radio" name="gender" value="gender")
                                        span.form-check-label Female   
                            div.col-sm-6.form-group
                            div.form-row  
                                div.form-group    
                                label Country:
                                    select.form-control(name="country" type="text")
                                        option(value="Uganda") Uganda 
                                        div.form-group    
                                label City:
                                    select.form-control(name="city" type="text")
                                        option(value="Kampala") Kampala
                                        option(value="Lira") Lira
                                        option(value="Gulu") Gulu                        
                            block content
                                input.btn.btn-success.btn-block(type="submit", value="Register")    